<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @athlete.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @athlete.description %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @athlete.birthdate %>
</p>

<p>
  <strong>Number:</strong>
  <%= @athlete.number %>
</p>

<p>
  <strong>Healthy:</strong>
  <%= @athlete.healthy %>
</p>

<%= link_to 'Edit', edit_athlete_path(@athlete) %> |
<%= link_to 'Back', athletes_path %>
